{% extends 'base.html' %}

{% block content %}

{% if ticker %}
	{{ ticker }}
{% endif %}


{% if api %}

	{% if api == "Error ..." %}

		There is a problem with your ticker symbol,
		please try again ...

	{% else %}

		<h1>{{ api.companyName }}</h1>

		Price: {{ api.latestPrice }} <br/>
		Previous Close: {{ api.previousClose }} <br/>
		Market Cap: {{ api.marketCap }} <br/>
<!--
		{% for key, value in api.items %}
			
			{{ key }} : {{ value }} <br/>

		{% endfor %}
-->

	{% endif %}

{% endif %}


{% endblock %}
